<!DOCTYPE html>
<html lang="en">
  <style>
      .modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    height: auto;
    width: auto;
    transition: opacity 0.3s ease;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}
</style>
<nav class="navbar navbar-light bg-light">
  <form action="http://127.0.0.1:8000/lab-4/add-note">
    <button class="btn btn-dark" type="button" onclick="window.location.href='http://127.0.0.1:8000/lab-5'">Home</button>
    <button class="btn btn-outline-success" type="action">Add Note</button>
    <button class="btn btn-outline-primary" type="button" 
        onclick="window.location.href='http://127.0.0.1:8000/lab-5/note-list'"
        <button style="margin-right: 1620px;">Note-list</button>
  </form>
</nav>
  <head>
    <link rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" 
        crossorigin="anonymous">
    <meta charset="UTF-8" />
    <title>Messages</title>
    <body>
        {% if note %}
        {% for data in note %}
        <div class="modal-container" id="modal_container">
                        
            <div class="modal">
                <button class="x-button" type='button' id="close">X</button>
                <h1 class="modal-title">{{data.title}}</h1>
                <h6 class="modal-subtitle">{{data.to}}</h6>
                <h6 class="modal-subtitle1">{{data.fromnotes}}</h6>
                <p>{{data.message}}</p>
                <div class="card-modal">
                    <h5 class="card-title"><b>HALO HALO</b></h5>
                    <span style="font-size: 13px;opacity:75%;text-decoration: none;">tes</span>
                    <p>tes ajasih gimana biar keren gitu</p>
                </div>
            </div>
        </div>
        {% endfor %}
      {% endif %}
      <div class="row">
      {% if note %}
        {% for data in note %}
          <div class="col-sm-3">
            <a href="#" class="stretched-link" id="open">s</a>
            <div class="card" <div style="margin:8px" >
              <div class="card-body">
                
                <h5 class="card-title">{{data.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Untuk: {{data.to}}</h6> 
                <h6 class="card-subtitle mb-2 text-muted">Dari: {{data.fromnotes}}</h6>
                <p class="card-text">{{data.message}}</p>
                <script>
                    const open = document.getElementById('open');
                    const modal_container = document.getElementById('modal_container');
                    const close = document.getElementById('close');

                    open.addEventListener('click', () => {
                        modal_container.classList.add('show');
                    })

                    close.addEventListener('click', () => {
                        modal_container.classList.remove('show');
                    })
                </script>
               
              </div>
            </div>
          </div>
      {% endfor %}
      {% endif %}
    </div>
  </head>
  </body>

</html>