{% load static %}
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href={% static "css/lab5_index.css" %} type="text/css">
    <link rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" 
        crossorigin="anonymous">
    <nav class="navbar navbar-light bg-light"><button class="btn btn-dark" type="button" onclick="window.location.href='http://127.0.0.1:8000/lab-5/'">Home</button>
        <button class="btn btn-outline-success" type="button" onclick="window.location.href='http://127.0.0.1:8000/lab-4/add-note'">Add Note</button>
        <button class="btn btn-outline-primary" type="button" 
        onclick="window.location.href='http://127.0.0.1:8000/lab-5/note-list'"
        <button style="margin-right: 1620px;">Note-list</button>
    </nav>
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
<title>Messages</title>
  <h2>List of Messages</h2>
  <div class="table-wrapper">
    <table class="fl-table">
        <script>
            $(document).ready(function(){
              $("button").click(function(){
                $("#div1").load("lab5_index.html");
              });
            });
        </script>
  <thead>
      <tr>
      <th>To</th>
      <th>From</th>
      <th>Title</th>
      <th>Message</th>
      <th>Actions</th>
      <th>Edit</th>
      <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% if note %}
        {% for data in note %}
        <tr>
          <td>{{data.to}} </td>
          <td>{{data.fromnotes}}</td>
          <td>{{data.title}}</td>
          <td>{{data.message}}</td>
        </tr>
        {% endfor %}
      {% endif %}
            </tr>
        </tbody>
    </table>
</div>
</html>
