<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- loop from Friend model -->
      {% if friends %}
      {% for data in friends %}
      <tr>
        <td>{{data.name}} </td>
        <td>{{data.npm}}</td>
        <td>{{data.dob}}</td>
      </tr>
      {% endfor %}
    {% endif %}
    </table>
  </body>
</html>
