<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Messages</title>
    <body>
    <table border="1">
      <tr>
      <th>To</th><th>From</th><th>Title</th>
      <th>Message</th>
      </tr>
      <tr>
        {% if note %}
        {% for data in note %}
        <tr>
          <td>{{data.to}} </td>
          <td>{{data.fromnotes}}</td>
          <td>{{data.title}}</td>
          <td>{{data.message}}</td>
        </tr>
        {% endfor %}
      {% endif %}
      </tr>
      </table>
  </head>
  </body>
</html>
